body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    background-color: #f5f5f5;
    padding: 20px;
    width: 100%;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

main {
    padding: 20px;
    width: 80%;
    max-width: 800px;
}

section {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-details {
    flex: 1;
}

.task-actions {
    display: flex;
    gap: 10px;
}

.task-actions button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.task-actions button:hover {
    background-color: #c82333;
}

.mark-complete {
    background-color: #28a745;
}

.mark-complete:hover {
    background-color: #218838;
}

.task-completed {
    text-decoration: line-through;
    color: #ccc;
}

.task-completed .task-actions button {
    display: none;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.task-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.task {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.task:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.mark-complete {
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.mark-complete:hover {
    background-color: #218838;
}

.delete-task {
    background-color: #dc3545;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.delete-task:hover {
    background-color: #c82333;
}